@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width: 450px;
    --height: calc(var(--width) * 0.5);
}

body {
    min-height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

h1 {
    font-family: "Satisfy", cursive;
    font-size: 70px; 
}

.sapin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 1.5s;
    transition-property: background-color;
}

.sapin:hover {
    background-color: snow;
}

.etage {
    height: var(--height);
    width: var(--width);
    background-color: #006400;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.etage:nth-of-type(1) {
    height: calc(var(--height) * 0.25);
    width: calc(var(--width) * 0.25);
    transform: translateY(280%);
}

.etage:nth-of-type(2) {
    height: calc(var(--height) * 0.5);
    width: calc(var(--width) * 0.5);
    transform: translateY(120%);
}

.etage:nth-of-type(3) {
    height: calc(var(--height) * 0.75);
    width: calc(var(--width) * 0.75);
    transform: translateY(50%);
}

.bas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tronc {
    width: 60px;
    height: 100px;
    background-color: #642d00;
}

.cadeaux {
    width: cal(var(--width) * 0.66);
}

.cadeaux img {
    width: 100%;
    height: 20em;
}

.deco {
    position: absolute;
    z-index: 10;
    display: block;
}

.etoile {
    background-color: #fffb00;
    height: calc(var(--height) * 0.35);
    width: calc(var(--height) * 0.35);
    top: calc(var(--width) / 4);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.boule {
    background-color: #ec2121;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.boule#b1 {
    top: 38%;
    left: 30%;
}

.boule#b2 {
    top: 36%;
    left: 63%;
    width: 25px;
    height: 25px;
}

.boule#b3 {
    top: 51%;
    left: 24%;
    width: 25px;
    height: 25px;
}

.boule#b4 {
    top: 50%;
    left: 73%;
}

.boule#b5 {
    top: 26%;
    left: 40%;
}

.boule#b6 {
    top: 28%;
    left: 59%;
}

.boule#b7 {
    top: 40%;
    left: 45%;
}

.boule#b8 {
    top: 33%;
    left: 50%;
}

.boule#b9 {
    top: 20%;
    left: 49%;
}

.boule#b10 {
    top: 50%;
    left: 49%;
}